
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Build Artifacts
build/
dist/
*.spec

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Application Data
*.log
